/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

:root {
  --site-padding: 10px;
  --col-gap: 10px;
}

.sobump {
  margin: 0 auto;
  max-width: 1000px;
  box-sizing: border-box;
}

.sobump-header {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: var(--site-padding);
}

.sobump-logo {
  padding: var(--site-padding);
}

.sobump-search {
  box-sizing: border-box;
  padding: var(--site-padding);
  width: 100%;
}

.sobump-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  list-style: none;
  margin: 0;
  padding: var(--site-padding);
  column-gap: var(--col-gap);
  row-gap: var(--col-gap);
}

.sobump-results li {
  margin: 0;
}

.sobump-results img {
  width: 100%;
}